.App {
  text-align: center;
  margin: 40px 0;
}

.App-logo {
  height: 50px;
  padding: 10px 5px;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ui.list .list>.item>i.icon, .ui.list>.item>i.icon {
  width: 22px;
}

.ui.list>.item a.header {
  margin: 10px 0;
}

.ui.list>.item .description {
  margin-bottom: 4px;
}